@import "./node_modules/react-flow-editor/dist/default-theme.scss";
@import "./node_modules/react-flow-editor/dist/style.scss";
$menu-width:190px;
$log-height:130px;
$border-color: rgb(43, 20, 248);
$menu-background-color: #0b70a9;
$defalt-color:"white";

body {
    margin: 0;
    overflow: hidden;
   
}

.react-flow-editor {
    height: 800px; // Override this in our app
    width: 800px; // Override this in our app
    // position: fixed !important;
    
    
}
.react-flow-editor1 {
  height: 800px; // Override this in our app
  width: 800px; // Override this in our app
  // position: fixed !important;
  
}

//  layout on css



.column {
  float: left;
  padding: 10px;
  height: 300px;  
}
 
.column.side {
  width: 25%;
  height: 500px;
}

 
.column.header {
  width: 75%;
   height: 100px;
  
}
.column.content {
  width: 75%;
  background-color: #c40000;
   height: 400px;
  
}

 
.row:after {
  content: "";
  display: table;
  clear: both;
}

.flow-menu {
    background-color: $defalt-color;
    border-right: 1px solid $defalt-color;
    position: absolute;
    top: 39px;
    bottom: $log-height;
    left: 0;
    width: 150px;
    height: 100%;
    padding: 20px 0px 10px;
    
}
.react-flow-header-title{
    background: #2B699C;
    width: 100%;
    margin:  14px 0px 1px 0px;
     border-radius: 10px 10px 0px 0px;
     height: 45px;
     padding: 12px;
     color: #FFFFFF;
     margin-left: -8px;
    //  margin-top: 100px;
}
.react-flow-header-title-icon{
  cursor: pointer;
  margin-left: 10px;

              // style:{cursor:"pointer",marginLeft:"10px"}


  


  // marginLeft:"10px"

}
.react-flow-header-titleheader{
  background: #F6F6F6;
  width: 83%;
  margin:  24px 0px 2px 203px;
   border-radius: 10px 10px 0px 0px;
   height: 120px;
   padding: 12px;
   color: #FFFFFF;

}
.react-flow-header-button{
    // box-shadow: 3px 3px 7px #0873AC0F;
    border:#FFFFFF;
     width: 111px;
    // width: 200px;

    color:#FFFFFF;
    height: 30px;
    font-size: 0.73em;
    background: transparent linear-gradient(256deg, #0479B2 0%, #1B5D94 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin:  39% 0px 0px 90%;
 
}
.react-flow-header-button2{
  border:#FFFFFF;
  width: 111px;
 color:#FFFFFF;
 height: 30px;
 font-size: 0.73em;
 background: transparent linear-gradient(256deg, #999 0%, #999 100%) 0% 0% no-repeat padding-box;
 border-radius: 10px;
 opacity: 1;

margin:  39% 0px 0px 90%;
}
.react-flow-editor {
    left:  100px;
    position: absolute;
    right: 0px;
    bottom:  -100px;
    height: calc(100% - 30px);
    width: calc(100% - 100px);
    border: #0b70a9;
   
}
.react-flow-editor-menu-item{
background-color: #0b70a9 !important;
padding: auto;
color: #ffffff;
height: 42px;
font-size:12px;
width: 144px;
border-radius: 8px;
}
 
.react-flow-creating-node .node > .header, .react-flow-editor .node > .header{
    background-color: #0b70a9 !important;
    border-radius: 8px !important;
     
color: #ffffff;

}
.react-flow-creating-node .node > .header > span, .react-flow-editor .node > .header > span{
  font-size: 12px;
}
.react-flow-creating-node path.connection, .react-flow-editor path.connection{
  stroke: #2b699c !important;
  fill: transparent;
 
}
.react-flow-creating-node .node .dot.input, .react-flow-editor .node .dot.input{
  background-color: #2b699c !important;
  border: 1px solid #2b699c !important;
 
}

// .node-attributes {
//     background-color: $menu-background-color;
//     border-left: 1px solid $border-color;
//     position: absolute;
//     top: 0;
//     bottom: $log-height;
//     right: 0;
//     padding: 20px 10px 10px;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }

.listmenu{
    box-shadow: 3px 3px 7px #0873AC0F;
    background-color: red;

}

 .icon {
display: none !important;
 }
 .arrow-down{
  display: none !important;
 }
 .react-flow-creating-node .node  .body, .react-flow-editor .node  .body{
  display: none !important;
  
 }
// properties window
.box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid orange;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: orange;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  .overlay:target {
    visibility: hidden;
    opacity: 0;
    display:none
  }
  .popup {
    height: 182px;
    position: relative;
    margin:11% 21% 25% 13%;
    padding: 11px;
    background: #0b70a9;
    border-radius: 5px;
    width: 1125px;
    left: 0px;
    top: 247px;
    transition: all 5s ease-in-out; }

.popup .close       { position: absolute; top: 20px; right: 30px; transition: all 200ms;
              font-size: 17px; font-weight: bold; text-decoration: none; color: #333; }
.popup .close:hover { color: orange; }
.popup .content     { max-height: 100%; overflow: auto; }


.properties-button{
    // box-shadow: 3px 3px 7px #0873AC0F;
    border:#FFFFFF;
    font-weight: 700;
     width: 111px;
    color:#000000;
    height: 31px;
    font-size: 0.73em;
    background: transparent linear-gradient(256deg, #f6f9fa 0%, #e6e8eb 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;

 margin: -4px 0px 0px 81%;
 
}
.form-control{
    top: 840px;
left: 346px;
width: 169px;
height: 17;
    // background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
// box-shadow: 3px 3px 7px #85858545;
border-radius: 5px;
opacity: 1;
}
.form-main{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

//  collapse Menu Item
.logo{
    top: 13px;
left: 0px;
width: 150px;
height: 71px;
 opacity: 1;
 
}

input[type="checkbox"] {
    display: none;
  }

.faq-drawer {
    margin-bottom: 30px;
  }
  
  .faq-drawer__content-wrapper {
    font-size: 1.25em;
    line-height: 1.4em;
    max-height: 0px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
  }

  
.faq-drawer__title {
  
text-align: left;
font: normal normal bold 16px/21px Roboto  ;
letter-spacing: 0px;
color: #1E1E1E;
text-transform: uppercase;
opacity: 1;
    // border-top: #000 1px solid;
    box-shadow: 3px 3px 7px #85858545;
text-align: center;
    cursor: pointer;
    display: block;
    font-size: 0.58em;
     font-weight: 700;
    padding:  8px 20px 13px 3px;
    margin:  7px 3px 0px 3px;
    position: relative;
    margin-bottom: 0;
   
    transition: all 0.25s ease-out;
  }

.faq-drawer__title::after {
  border-style: solid;

  border-width: 1px 1px 0 0;
  content: " ";
  display: inline-block;
  // float: right;
  height: 10px;
  left: 2px;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 10px;
}
 
.faq-drawer__title-after {
  
  text-align: left;
  font: normal normal bold 16px/21px Roboto  ;
  letter-spacing: 0px;
  color: #1E1E1E;
  text-transform: uppercase;
  opacity: 1;
      // border-top: #000 1px solid;
      box-shadow: 3px 3px 7px #85858545;
  text-align: center;
      cursor: pointer;
      display: block;
      font-size: 0.58em;
       font-weight: 700;
      padding:  8px 20px 13px 3px;
      margin:  7px 3px 0px 3px;
      position: relative;
      margin-bottom: 0;
     
      transition: all 0.25s ease-out;
    }
  
  .faq-drawer__title-after::after {
    border-style: solid;
  
    border-width: 1px 1px 0 0;
    content: " ";
    display: inline-block;
    // float: right;
    height: 10px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(-45deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 10px;
  }

 

.flex-container-sidebar {
  display: flex;
  background-color: #FFFFFF;
  
}
.flex-container-content {
  display: flex;
  flex-direction: column;
 width: 100%;
}


.flex-container-content-workarea {

  background-color: #F6F6F6;
  
}
.flex-container-sidebar-sidemenu {
  background-color: #FFFFFF;
  box-shadow: 3px 3px 7px #85858545;
  border-radius: 10px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 14px/19px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
  // margin: 2px;
  // padding: 20px;
  // font-size: 30px;
}
.main-workarea{
  margin: 0;
}
.flex-container-content-header {
 background-color: #F6F6F6;
}
.flex-header-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;  
  align-items: baseline;
  align-content: stretch;
}

.flex-header-date{
  letter-spacing: 0px;
  color: #3B3A3A;
  opacity: 1;
  margin-left: 7px;
    margin-top: 30px;
}

.flex-header-icons{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  // justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
  margin-left: 881px;
}
.flex-header-notification{
  color: #3B3A3A;
  margin-right:  21px;
}
.flex-header-search{
  color: #3B3A3A;
  margin-right:  21px;
}
 