.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-uhb5lp{
    height: 600px !important;
    width: 750px !important;
}

h6, h4{
    text-transform: capitalize;
    color: #004a85;
    margin-top: 30px;
    opacity: 1;   
    font-weight: 600;
}

.p-text{
    margin: 10px 0px;
    font-size: 14px !important;
}

.p-text a{
    text-decoration: underline;
}

.img-wrap{
    margin: 20px 0 !important;
}

.img-wrap img, .p-font img{
    /* width: 550px; 
    height: auto; */
    display: block;
    margin: 0 auto;
}

.popup-heading{
    background-color: rgb(31, 112, 183);
    color: #fff;
    padding: 12px 24px !important;
    font-size: 22px !important;
}

.helpDocWrap{
    display:inline-block;
    /* float:right; */
}

.p-font{
    font-size: 13px !important;
}

.HelpOkBtn:hover{
    background-color: rgb(31, 112, 183) !important;
}

.mat-option.mat-active{
    background-color: transparent !important;
}
